<div class="col-md-12">
    <div class="panel profile-panel">
        <div class="panel-heading panel-visible">
            <div class="panel-title"> <i class="fa fa-user"></i> Applicant Information</div>
            <div class="panel-btns pull-right margin-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-gradient dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile-data"> <span class="profile-name"> <b class="text-primary">Cynthia Blue</b> - <b>Away</b></span> <span class="profile-email"> cynthiarose@company.com </span>
                        <ul class="profile-info list-unstyled">
                            <li><i class="fa fa-phone"></i> 858-842-3416</li>
                            <li><i class="fa fa-skype"></i> lolholladay</li>
                            <li><i class="fa fa-globe"></i> United States, CA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer padding-bottom-none">
            <div class="row">
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons glyphicons-hdd"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Tasks</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-teal">3</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-signal"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Calendar</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-green">1</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-user"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Emails</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-red">9</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-settings"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Tools</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel profile-panel">
        <div class="panel-heading panel-visible">
            <div class="panel-title"> <i class="fa fa-user"></i> Applicant Information</div>
            <div class="panel-btns pull-right margin-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-gradient dropdown-toggle" data-toggle="dropdown"><span class="glyphicons glyphicons-cogwheel"></span></button>
                    <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
                        <li><a><i class="fa fa-envelope-o"></i> Message </a></li>
                        <li><a><i class="fa fa-user"></i> Add Friend </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5" id="profile-avatar"> <img src="img/avatars/login.png" class="img-responsive" width="150" height="112" alt="avatar"> </div>
                <div class="col-xs-7">
                    <div class="profile-data"> <span class="profile-name"> <b class="text-primary">Cynthia Blue</b> - <b>Away</b></span> <span class="profile-email"> cynthiarose@company.com </span>
                        <ul class="profile-info list-unstyled">
                            <li><i class="fa fa-phone"></i> 858-842-3416</li>
                            <li><i class="fa fa-skype"></i> lolholladay</li>
                            <li><i class="fa fa-globe"></i> United States, CA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer padding-bottom-none">
            <div class="row">
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons glyphicons-hdd"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Tasks</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-teal">3</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-signal"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Calendar</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-green">1</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-user"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Emails</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-red">9</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-settings"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Tools</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel profile-panel">
        <div class="panel-heading panel-visible">
            <div class="panel-title"> <i class="fa fa-user"></i> Applicant Information</div>
            <div class="panel-btns pull-right margin-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-gradient dropdown-toggle" data-toggle="dropdown"><span class="glyphicons glyphicons-cogwheel"></span></button>
                    <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
                        <li><a><i class="fa fa-envelope-o"></i> Message </a></li>
                        <li><a><i class="fa fa-user"></i> Add Friend </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5" id="profile-avatar"> <img src="img/avatars/login.png" class="img-responsive" width="150" height="112" alt="avatar"> </div>
                <div class="col-xs-7">
                    <div class="profile-data"> <span class="profile-name"> <b class="text-primary">Cynthia Blue</b> - <b>Away</b></span> <span class="profile-email"> cynthiarose@company.com </span>
                        <ul class="profile-info list-unstyled">
                            <li><i class="fa fa-phone"></i> 858-842-3416</li>
                            <li><i class="fa fa-skype"></i> lolholladay</li>
                            <li><i class="fa fa-globe"></i> United States, CA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer padding-bottom-none">
            <div class="row">
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons glyphicons-hdd"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Tasks</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-teal">3</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-signal"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Calendar</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-green">1</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-user"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Emails</div>
                        </div>
                        <div class="console-badge"><span class="badge btn-red">9</span></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="console-btn console-alt console-block">
                        <div class="console-icon"> <span class="glyphicons glyphicons-settings"></span> </div>
                        <div class="console-text">
                            <div class="console-title">Tools</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>