<style>
    div.vertical-line{
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        height: 100%;
    }
    div.holizontal-line{
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        /*width: 100%;*/
    }
</style>
<div class="col-md-12 ng-scope" ng-controller="cashAccountController as cash">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title"> <i class="fa fa-money"></i> Income Statement </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <form>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <datepicker date-format="yyyy-MM-dd">
                                <input id="to_date" name="date" type="text"  ng-model="start_date" class="form-control" placeholder="From" required="">
                            </datepicker>
                        </div>
                        <div class="col-md-3">
                            <datepicker date-format="yyyy-MM-dd">
                                <input id="from_date" name="date" type="text"  ng-model="end_date" class="form-control" placeholder="To" required="">
                            </datepicker>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary" ng-click="cashAccountFunction()" ><i class="fa fa-book" ></i>&nbsp;Get</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pull-right">
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-print"></i>Print</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;"><h3>{{company[0].company_name}}</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;"><h4>Income Statement</h4></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center;">{{todays_date}}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2 vertical-line holizontal-line" style="text-align: left;font-weight: bold;">Date</div>
                <div class="col-md-4 vertical-line holizontal-line" style="text-align: left;font-weight: bold;">Descriptions</div>

                <div class="col-md-3 vertical-line holizontal-line" style="text-align: left;font-weight: bold;">Dr.</div>
                <div class="col-md-3 holizontal-line vertical-line" style="text-align: right;font-weight: bold;">Cr.</div>
            </div>
            <div class="col-md-12">
                <style>
                    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
                        border-top:1px solid #ffffff!important;
                    }
                </style>


                <!--<div class="col-md-12">-->
                <div class="col-md-2  vertical-line holizontal-line">
                    <table class="table">
                        <tbody>
                        <tr><td>{{currentC.created_at}}&nbsp;</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-4  vertical-line holizontal-line">
                    <table class="table">
                        <tbody>
                        <tr><td>Interest Income</td></tr>
                        <tr><td>Application Fee</td></tr>
                        <tr><td>Fine Penalty</td></tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3  vertical-line holizontal-line">
                    <table class="table">
                        <tbody>
                        <tr><td style="text-align: right">0</td></tr>
                        <tr><td style="text-align: right">&nbsp;</td></tr>
                        <tr><td style="text-align: right">&nbsp;</td></tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3  holizontal-line vertical-line">
                    <table class="table">
                        <tbody>
                        <tr><td style="text-align: right">&nbsp;</td></tr>
                        <tr><td style="text-align: right">0</td></tr>
                        <tr><td style="text-align: right">{{cash[0].amount}}</td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table" >
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 20px;"></div>
    </div>
</div>
</div>
<!--<div class="panel-body">-->

<!--</div>-->
</div>
</div>